@import './toolbar.scss';
@import url('https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css');

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 10px;
	margin-inline-end: 0;
}

body {
  margin: 0;
}

.about-container-div {
    background-color: #c9b8a4;
    height: 85vh;
}

.about-paragraphs {
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
}

#about-house-img{
    width: 331.5px;
    height: 225px;
}

