.form-container {
    background-color: #ffffff;
    display: inline-block;
    width: 45vh;
    
    /* float: left/right; */
    margin: 0 auto;
    padding: 5vh;
    padding-right: 15vh;
    border: 2px solid #00ba9b; 
    border-radius: 10px;
}

.btn_btn-primary {
    margin-left: 14vh;
}


table {
    border: none;
    width: 100%;
}


td {
    width: 50%;
}

.form-control::placeholder {
    opacity: .3;
}