/* .form-container {
    background-color: #ffffff;
    width: 40vw;
    height: 15vw;
    margin: 0 auto;
    padding: 5vh;
    border: .5vh solid #00ba9b; 
    border-radius: 5%;
    box-shadow: -3px -3px -3px #00ba9b inset;
}

.form-group {
    margin-bottom: 10px;
    align-content: center;
    display: flex;
    align-items: center;
}

/*
.form-group label {
    margin-left: 5%;
    margin-right: 3%;
}
*/

/*
.form-label-name {
    margin-left: 30.5%;
    margin-right: 2%;
}

.form-label-email {
    margin-left: 19.9%;
    margin-right: 2%;
}

.form-label-message {
    margin-left: 26.7%;
    margin-right: 2%;
}

.btn_btn-primary {
    margin-top: 5%;
}
*/

.form-container {
    background-color: #ffffff;
    display: inline-block;
    width: 45vh;
    
    /* float: left/right; */
    margin: 0 auto;
    padding: 5vh;
    padding-right: 15vh;
    border: 2px solid #00ba9b; 
    border-radius: 10px;
}

.btn_btn-primary {
    margin-left: 14vh;
}


table {
    border: none;
    width: 100%;
}


td {
    width: 50%;
}

.form-control::placeholder {
    opacity: .3;
}