.top-link-button {
    width: 20%;
    height: 3%;
    font-size: 1.2vw;
    font-weight: bolder;
    background-color: green;
    color: white;
    border-radius: .3vw;
    border-style: inset;
    border: ivory solid .1vw;
}